[Interface]
PrivateKey = {{ client_private_key }}
Address = 10.0.0.2/32
DNS = 1.1.1.1

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ instance_ip }}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
