#cloud-config
packages:
  - [squid, 4.10-1ubuntu1.13]

runcmd:
  - echo "Setting up squid..."
  - sudo systemctl start squid
  - sudo systemctl enable squid
  - sed -i '/^http_access allow localhost$/a http_access allow all' /etc/squid/squid.conf
  - sudo systemctl restart squid
  - echo "Setting up Xray..."
  - bash <(curl -Ls https://raw.githubusercontent.com/XTLS/Xray-install/main/install-release.sh) --version v26.2.6
  - systemctl enable xray
  - systemctl restart xray

write_files:
  - path: /usr/local/etc/xray/config.json
    permissions: '0644'
    content: |
      {
        "inbounds": [
          {
            "port": 443,
            "protocol": "vless",
            "settings": {
              "clients": [
                {
                  "id": "{{ client_uuid }}",
                  "flow": "xtls-rprx-vision"
                }
              ],
              "decryption": "none"
            },
            "streamSettings": {
              "network": "tcp",
              "security": "reality",
              "realitySettings": {
                "show": false,
                "dest": "www.cloudflare.com:443",
                "xver": 0,
                "serverNames": [
                  "www.cloudflare.com"
                ],
                "privateKey": "{{ reality_private_key }}",
                "shortIds": [
                  "{{ short_id }}"
                ]
              }
            }
          }
        ],
        "outbounds": [
          {
            "protocol": "freedom"
          }
        ]
      }
